@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    max-width: 1000px;
    width: 100%;
    min-height: 650px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
