/* login css */

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
    height: 750px;
}
/* logo */
.left-panel {
    flex: 1.8;
    background-image: url('https://tnss.vn/wp-content/uploads/2024/01/luu-y-khi-du-hoc-uc-danh-cho-tre-em.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 60px;
}

/* Đổi ảnh nền riêng cho trang đăng ký, quên mk , đổi mk*/
.left-panel.register-mode {
    background-image: url('https://img.freepik.com/premium-photo/back-school-group-students-eagerly-raising-their-hands-answer-question-classroom_556186-672.jpg');
}


/* chứa chữ đè lên ảnh */
.text-overlay {
    position: relative;
    z-index: 2;
    padding: 0 10px;
    color:#f7f2f2;
}

.register-mode .text-overlay {
    text-align: left;
}

.big-text {
    font-size: 23px;
    font-weight: 700;
    margin: 5px 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    color: #ffffff88;
}
/* vẽ logo study */
.logo-circle {
    width: 45px;
    height: 45px;
    background-color: #8e44ad; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;

}

.logo-circle i {
    color: #fff; 
    font-size: 22px;
    transform: translateY(1px); 
}

.intro-text {

    font-size: 20px;
    font-weight: 700;
    margin: 5px 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    color: #f0f0f0df;
}

.right-panel {
    flex: 1;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 45px;
    margin-right: 10px;
}

.brand-name {
    font-size: 30px;
    color: #7b3f98;
    margin: 0;
}

.tagline {
    text-align: center;
    color: #777777c0;
    margin-bottom: 20px;
    font-size: 18px;
}

.auth-switch {
    display: flex;
    background-color: #e9ecef;
    border-radius: 15px;
    padding: 4px;
    margin-bottom: 20px;
}

.switch-btn {
    flex: 1;
    border: none;
    background: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 500;
    color: #777;
    transition: all 0.3s ease;
    font-size: 16px;
}

.switch-btn.active {
    background-color: #7b3f98;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 12px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
    font-size: 16px;
}

.input-container {
    position: relative;
}

.input-container input,
.input-container select {
    width: 100%;
    padding: 12px 40px 12px 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #fff;
}

.input-container select {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.input-container input:focus,
.input-container select:focus {
    border-color: #7b3f98;
}

.input-container i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 14px;
    pointer-events: none;
}

.input-container .fa-eye-slash, 
.input-container .fa-eye {
    cursor: pointer;
    pointer-events: auto;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 13px;
    color: #555;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #7b3f98;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.btn-login:hover {
    background-color: #6a3585;
}

.divider {
    text-align: center;
    margin: 15px 0;
    position: relative;
}
/* vẽ ------ */
.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
}

/* nền trắng */
.divider span {
    background-color: #fff;
    padding: 0 10px;
    position: relative;
    color: #777;
    font-size: 14px;
}

/* mxh google fb */
.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.btn-social {
    flex: 0.48;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    color: #555;
    font-weight: 500;
}

.btn-social:hover {
    background-color: #f8f9fa;
}

.btn-social i {
    margin-right: 8px;
    font-size: 19px;
}

.fa-google {
    color: #db4437;
}

.fa-facebook-f {
    color: #4267B2;
}

.register-link {
    text-align: center; 
    font-size: 14px;
    color: #777;
    margin-top: 10px;
    text-decoration:none;
}


.register-link a {
    color: #7b3f98;
    text-decoration: none;
    font-weight: 700;
}
.form-options a:hover {
    text-decoration: underline;
}
.register-link a:hover {
    text-decoration: underline;
}
