.hero-wrapper-full {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 100px 0 60px;
    min-height: 500px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.hero-sub {
    font-size: 5rem;
    opacity: 0.9;
    font-weight: 400;
}
.hero-title-main {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 15px;
}

.hero-teacher {
    font-size: 2rem;
    opacity: 0.9;
}

.hero-3d-image {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    filter: drop-shadow(0 15px 30px rgba(0,0,0,0.4));
    margin-top: 20px;
}
.btn-register-main {
    background-color: #a582e6;
    color: white;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(165,130,230,0.4);
    transition: 0.3s;
    font-size: 1.5rem;
}

.btn-register-main:hover {
    background-color: #906ad4;
    transform: translateY(-2px);
}

.btn-try-free {
    background-color: #f3effb;
    color: #333;
    border: 1px solid #e0d4f5;
    font-weight: 600;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 1.5rem;
}

.btn-try-free:hover { 
    background-color: #e8defc; 
}

/* thay đổi size dữ liệu lấy từ class course */
h3, h5, h6 {
    color: #222;
    font-size: 1.6rem;
}

p, li, small {
    font-size: 1.4rem; 
}

ul.list-unstyled li span {
    font-size: 1.6rem; 
}
.text-purple-light {
    color: rgb(171, 49, 188); 
    font-weight: 800;
}